.listContainer {
	width: 800px;
	margin: 0 auto;
}
.listing {
	padding: 10px;
}
.listing a:hover {
	text-decoration-line: underline;
}
.fa-star {
	color: #ccc;
	text-shadow: 0px 0px 1px #888;
}
.fa-star:hover {
	text-shadow: 2px 2px 1px #ad9301;
	cursor: pointer;
}
.fa-trash:hover {
	color: red;
	cursor: pointer;
}
.listing {
	display: block;
}
.thumb {
	display: block;
}
.thumb img {
	background: #f4f4f4;
	width: 75px;
	height: 75px;
}

.gallery {
	display: block;
	max-width: 310px;
	padding: 5px;
	box-shadow: 0px 0px 5px #000;
	margin: 20px 0 20px 0;
	border: 1px solid #ccc;
}
.gallery img {
	background: #f4f4f4;
	width: 300px;
	height: 300px;
}
