.postContainer {
	width: 800px;
	background: transparent;
	margin: 0 auto;
}
.post {
	display: flex;
	flex-direction: column;
}
.post img {
	max-width: 500px;
	max-height: 500px;
}
.postName {
	color: black;
	background: transparent;
	font-size: 1.5em;
}
.postDesc {
	font-size: 1em;
	color: black;
}
.postDesc:hover {
	background: transparent;
	color: black;
}
.postId:hover {
	background: transparent;
	color: inherit;
}
.postId {
	color: black;
}