.sortContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.pages {
	width: 250px;
	padding: 0;
	justify-content: center;
}
.pageNav {
	text-align: center;
}
.pageNav i {
	font-size: 1.2em;
	color: #888;
}
.pageNav:hover {
	background: transparent;
}